<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bienvenido a iBiblioteca!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        iBliblioteca es una aplicacion desarrollada
        con ionic que permite gestionar una biblioteca
        de un centro educativo. Para acceder a la biblioteca pulsa en el siguiente botón:
      </ion-card-subtitle>
    </ion-card-content>
    <ion-button expand="full" routerLink="/i-biblioteca"><ion-icon name="school" class="ion-padding-end"></ion-icon>Acceso a iBliblioteca</ion-button>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Información sobre el autor
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        Aplicación desarrollada por Uribe Pedro
      </ion-card-subtitle>
    </ion-card-content>
    <ion-button routerLink="/autor" expand="full"><ion-icon name="person" class="ion-padding-end"></ion-icon>Consultar información</ion-button>
  </ion-card> 
</ion-content>
